<body class="home-page">
  <div class="jumbotron front-well">
    <h1>SleepOver</h1>
    <h2><small>Let us help you find your dream getaway.</small></h2>
    <hr>
    <%= link_to "Register Now", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</body>
